# Node dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
notes/

# Native credentials / signing files
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler
.metro-health-check*

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS / Linux system files
.DS_Store
*.pem
*.swp
*.swo
*.lock

# Local environment variables
.env
.env.*.local

# TypeScript build info
*.tsbuildinfo

# Expo / React Native caches
.expo-shared/
*.expo
.expo-settings.json

# Optional local project files
app-example/
pg_log.txt

# Android / iOS native folders (if you’re in managed Expo workflow)
android/
ios/

# JetBrains / VSCode files
.idea/
.vscode/

# Logs and temp
logs/
*.log
*.tmp

/nogic
